@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
text-decoration: none;
}
.tablee{
  font-size: 2rem;
  border: 5px solid black;
  font-weight: 600;
  text-align: center;
  padding: 15px 40px;
  margin: 0 auto;
}